<!DOCTYPE html>
<html>

<head>

    <title> Product test page 1 </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


    <style>

        .navibarblock1{
            background-color: silver;
        }

        .frameblock{
            padding-top: 30px;
            padding-left: 30px;
        }

        .imageblock1 {
            width: 160px;
            height: 120px;
        }

        .labelblock1 {
            font-size: 16px;
        }

        .productblock1 {
            display: inline;
        }

        .productblock2 {
            margin-top: 20px;
            margin-left: 20px;
        }

        .imageblock2 {
            width: 160px;
            height: 120px;
        }

        .buttonblock1 {
            border-radius: 12px;
            width: 250px; 
            height: 30px;
            background-color: blue;
            color: white;

        }

        .buttonblock1:hover {
            background-color: darkblue;
            color: red;

        }

        .buttonblock2{
            width : 150px;
        }

        .inputblock1 {
            width: 50%;
            height: 30px;
        }

    </style>

    


</head>

<body ng-app="angular-displayPublicProduct">

        <div class="navibarblock1">
            <h1 style="width: 100%; text-align: center;">
                Stanislav Online Shop (fullstack sample project)
            </h1>
            <br> 
            <span style="margin-left: 5px;"></span> 
            <img src="placeholder1.png" class="imageblock2">
            <input type="text" class="inputblock1">
            <button class="buttonblock1 buttonblock2">Search</button>
            <span style="margin-left: 20px;"/> 
            <button class="buttonblock1 buttonblock2">Login</button>
            <span style="margin-left: 20px;"/> 
            <button class="buttonblock1 buttonblock2">Register</button>
        
            <div class="row">  
                <div class="col-xs6 col-sm-4"></div>
                <div class="col-xs6 col-sm-4">

                    <span style="margin-left: 20px; font-size: 16px;" ng-controller="angular-filterProductByType" >  
                        filter products by category : 
                        <select ng-model="sProductType" ng-change="changeProductType()">
                            <option ng-repeat="typeElement in agproductType" ng-value="typeElement" >{{typeElement}}</option>
                        </select>
        
                    </span> 
                </div>  
                <div class="col-xs6 col-sm-4"></div>    
            </div>    
       
        </div>
        
        <br><br>

    <div class="row productblock2" ng-controller="angular-productList" >

        <div>
        <div ng-repeat="productElement in productsArray track by $index" >
                <div ng-if="productElement.visible == visval" class="col-xs6 col-sm-4">
                <!--<div class="col-xs6 col-sm-4">-->
                <div>
                    <img ng-src="{{productElement.image}}" class="imageblock1">
                </div>
                <div class="labelblock1"><a ng-href="/selectedproductpage1.html#{{productElement.uuid}}">{{productElement.name}}</a></div>
                <div> {{productElement.info}} </div>
    
        </div>
        </div>

    </div>

    </div>

    <script>

        //var globalProductType = [];

        var angularJSApplication = angular.module("angular-displayPublicProduct", [] );

        // google -> angularjs share data between controllers (geesforgeeks page)

        angularJSApplication.run( function ($rootScope) {
            $rootScope.globalProductType = ["All types"]; 
            $rootScope.productsArray = [];
        });

        angularJSApplication.controller("angular-productList", function($scope, $http, $rootScope){

            console.log("angular controoler -> productList")
            let responseArray = [];
            

            $http.get("/products").then( function(response) {

                response.data.forEach(  function(ajaxProductElement) {

                    productViewObject = {

                        id :    ajaxProductElement.id,
                        name :  ajaxProductElement.productName,
                        type :  ajaxProductElement.productType,
                        image : ajaxProductElement.productImageURL,
                        info :  ajaxProductElement.productDescription,
                        uuid :  ajaxProductElement.productUUID,
                        visible : 1

                    };

                    responseArray.push(  productViewObject ) ;  
                    console.log(ajaxProductElement); 
                    $rootScope.globalProductType.push( ""+productViewObject.type);               

                });
            
                $rootScope.productsArray = responseArray;
                console.log($rootScope.globalProductType);
                $scope.visval = 1;

            });

        });

        angularJSApplication.controller("angular-filterProductByType", function($scope, $http, $rootScope){

            console.log("filter product by type function triggered")

            //removeDuplicates($rootScope.globalProductType)

            //console.log($rootScope.globalProductType);
           setTimeout( function() { 
                $scope.agproductType = removeDuplicates($rootScope.globalProductType);
                $scope.$apply(); //update angulaJs scope after ajax call for html rendering
           }, 3000);

           $scope.sProductType = "All types";

           $scope.changeProductType = function() {

            //$scope.sProductType
            let localProductTypesArray = [];


               if($scope.sProductType === "All types"){

                console.log("all visible types");

                $rootScope.productsArray.forEach(  function( element  ) {

                    if(element.visible != 1) element.visible = 1;

                    localProductTypesArray.push(element);
                });

               }  else {

                $rootScope.productsArray.forEach(  function( element  ) {

                    let tempType = ""+ element.type;

                    console.log("only one visible type");

                    if($scope.sProductType === tempType ) {
                        element.visible = 1;
                    } else {
                        element.visible = 0;
                    }

                  

                    localProductTypesArray.push(element);

                });

               }

               console.log($scope.sProductType);
               console.log("is not number :");
               console.log(isNaN($scope.sProductType));

               $rootScope.productsArray = localProductTypesArray;

               console.log("display product array status:")
               console.log($rootScope.productsArray)  
               //$scope.$apply(); 
               //$rootScope.$apply();   

           }


        });

        function removeDuplicates( data ){

            console.log("remove duplicate function triggered")

            let uniqueArray = [];

            data.forEach(  function( element  ) {

                if( ! uniqueArray.includes(element) ) uniqueArray.push(element);

            }); 

            console.log(uniqueArray);                       

            return uniqueArray;
        };


    </script>

</body>

</html>
