<input type='text' placeholder='Product name' class='inputblock1' value="{{productObject.name}}" ng-model="respData.productName">
<br><input type='text' title='Product price' placeholder='Product price' class='inputblock1' value="{{productObject.price}}" ng-model="respData.productPricePerUnit">
<br><input type='text' title='Product description' placeholder='Product description' class='inputblock1' value="{{productObject.description}}" ng-model="respData.productDescription">
<br><input type='text' placeholder='Product image url' placeholder='Product image url' class='inputblock1' value="{{productObject.imgurl}}" ng-model="respData.productImageURL">
<br/><button style='margin-top: 10px;' class='buttonblock1 buttonblock2' ng-click="angular-editProductButtonCallback()"> Update </button>
