<div class="navibarblock1">
    <h1 style="width: 100%; text-align: center;">
        Stanislav Online Shop (fullstack sample project), all products navbar 
    </h1>
    <br> 
    <span style="margin-left: 5px;"></span> 
    <img src="placeholder1.png" class="imageblock2">
    <input type="text" class="inputblock1">
    <button class="buttonblock1 buttonblock2">Search</button>
    <span style="margin-left: 20px;"> 
    <button class="buttonblock1 buttonblock2">Login</button>
    <span style="margin-left: 20px;"> 
    <button class="buttonblock1 buttonblock2">Register</button>

    <div class="row">  
        <div class="col-xs6 col-sm-4"></div>
        <div class="col-xs6 col-sm-4">

            <span style="margin-left: 20px; font-size: 16px;" ng-controller="angular-filterProductByType" >  
                filter products by category : 
                <select id="prodcategory" ng-model="sProductType" ng-change="changeProductType()">
                    <option ng-repeat="typeElement in agproductType" value="{{typeElement.type}}">{{typeElement.name}}</option>
                </select>

            </span> 
        </div>  
        <div class="col-xs6 col-sm-4"></div>    
    </div>    

</div>