.navibarblock1{
    background-color: silver;
}

.frameblock{
    padding-top: 30px;
    padding-left: 30px;
}

.imageblock1 {
    width: 160px;
    height: 120px;
}

.labelblock1 {
    font-size: 16px;
}

.productblock1 {
    display: inline;
}

.productblock2 {
    margin-top: 20px;
    margin-left: 20px;
}

.imageblock2 {
    width: 160px;
    height: 120px;
}

.buttonblock1 {
    border-radius: 12px;
    width: 250px; 
    height: 30px;
    background-color: blue;
    color: white;
}

.buttonblock1:hover {
    background-color: darkblue;
    color: red;
}

.buttonblock2{
    width : 150px;
}

.inputblock1 {
    width: 50%;
    height: 30px;
}

.priceblock1 {
    font-size: 16px !important;
    font-weight: bold !important;
    color: red !important;
}

.priceblock2 {
    font-size: 16px !important;
    font-weight: bold !important;
    color: grey !important;
    text-decoration: line-through !important;
}

.productcardblock1{
    background-color: #f1f1f1;
    box-shadow: 5px 10px gray;
    border: 1px solid;
    margin-left: 10px;
    margin-top: 10px;
    width: 30%;
}

.titletext1{
    font-size: 16px !important;
    font-weight: bold !important;
}

body {
    background-color: white;
}
