<!DOCTYPE html>
<html>

<head>

    <title> Products list (v4) </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="styles/mainstyles.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="scripts/angularjslogic.js"></script>
    <script src="scripts/forceupdate1.js"></script>

</head>

<body ng-app="angular-displayPublicProduct">

        <!-- https://stackoverflow.com/questions/13943471/what-is-the-correct-syntax-of-ng-include -->
        <div ng-include src="'htmlcomponents/navigationbar.html'"></div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin-left: 20px;">
                <div class="labelblock1">
                    <a ng-href="/createproduct1.html">Create product</a>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row productblock2" ng-controller="angular-productList" >

        <div>
        <div ng-repeat="productElement in productsArray track by $index" >
                <div ng-if="productElement.visible == visval" class="col-xs6 col-sm-4" style="margin-top: 20px;">
            <!--<div class="col-xs6 col-sm-4">-->
                <div>
                    <img ng-src="{{productElement.image}}" class="imageblock1"/>
                </div>
                <div class="labelblock1">

                        <a ng-href="/selectedproductpage2.html?{{productElement.uuid}}">{{productElement.name}}</a>

                        <!--only authenticated users can edit or delete their products ( product sellerUUID match with authenticated user UUID), 
                        currently option available for demo purpose-->
                        &emsp;
                        <a ng-href="/editproduct1.html?{{productElement.uuid}}?edit" title="edit">
                            <span class="glyphicon glyphicon-cog titletext1"></span>
                        </a>

                        &nbsp;
                        <a ng-href="/editproduct1.html?{{productElement.uuid}}?delete" title="delete">
                            <span class="glyphicon glyphicon-trash titletext1"></span>
                        </a>

                 </div>
                <div> {{productElement.info}} </div>
                <div>
                    <!-- price offer option is not supported currently ( I have an idea about it) -->
                    <span class="priceblock2" title="original price"> {{productElement.price}} &#x20AC; </span> 
                    <span class="priceblock1" title="(price offer -0% now)"> {{productElement.price}} &#x20AC; </span> 					
                 </div>
    
            </div>

        </div>

    </div>

    </div>

</body>

</html>
	